<a href="https://colab.research.google.com/github/Emiliewu/datascience-assignments/blob/main/week2_data_science_pandas_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create list of bake sale names
names_list = ['brownie','cookie','cake', 'cupcake']
names_list

['brownie', 'cookie', 'cake', 'cupcake']

In [ ]:
# Create a list of prices
prices_list = [2.25,1.25,9.5, 3.5]
prices_list

[2.25, 1.25, 9.5, 3.5]

In [ ]:
# Define a list with the quantity sold
quantities_sold_list = [17, 40, 1, 10]
print(quantities_sold_list)

[17, 40, 1, 10]

In [ ]:
# import numpy
import numpy as np
# make a numpy array from the prices list
prices_array = np.array(prices_list)
prices_array

array([2.25, 1.25, 9.5 , 3.5 ])

In [ ]:
# Find the length of the prices list
len(prices_list)

4

In [ ]:
# Find the length of the prices arrray
len(prices_array)

4

In [ ]:
# Check the shape of the prices array
prices_array.shape

(4,)

In [ ]:
quantities_sold_array = np.array(quantities_sold_list)
quantities_sold_array

array([17, 40,  1, 10])

In [ ]:
# Arrays perform operations elementwise 
prices_array * quantities_sold_array

array([38.25, 50.  ,  9.5 , 35.  ])

In [ ]:
import pandas as pd

In [ ]:
# Make a dataframe from a dictionary
df = pd.DataFrame({'Name':names_list,
                   'Price':prices_list,
                   "Quantity Sold": quantities_sold_list})
df

      Name  Price  Quantity Sold
0  brownie   2.25             17
1   cookie   1.25             40
2     cake   9.50              1
3  cupcake   3.50             10

In [ ]:
# Verify the data type
type(df)

pandas.core.frame.DataFrame

In [ ]:
# a special list with the names of each column
df.columns

Index(['Name', 'Price', 'Quantity Sold'], dtype='object')

In [ ]:
# the raw data in a numpy array
df.values

array([['brownie', 2.25, 17],
       ['cookie', 1.25, 40],
       ['cake', 9.5, 1],
       ['cupcake', 3.5, 10]], dtype=object)

In [ ]:
# a special list with the row names (index)
df.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
# Run the set index command using the "Name"
df = df.set_index("Name")

In [ ]:
# Check the index
df.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
# display dataframe with new index
df

         Price  Quantity Sold
Name
brownie   2.25             17
cookie    1.25             40
cake      9.50              1
cupcake   3.50             10

In [ ]:
# select one column usig single square brackets
df['Price']

Name
brownie    2.25
cookie     1.25
cake       9.50
cupcake    3.50
Name: Price, dtype: float64

In [ ]:
# save the column as a new variable
sliced = df['Price']
sliced

Name
brownie    2.25
cookie     1.25
cake       9.50
cupcake    3.50
Name: Price, dtype: float64

In [ ]:
# This is a pandas series
type(sliced)

pandas.core.series.Series

In [ ]:
# Select one column using double brackets returns a DataFrame
df_slice = df[['Price']]
df_slice

         Price
Name
brownie   2.25
cookie    1.25
cake      9.50
cupcake   3.50

In [ ]:
# This is a pandas DataFrame
type(df_slice)

pandas.core.frame.DataFrame

In [ ]:
# Select multiple columns using double brackets
df[['Quantity Sold', 'Price']]

         Quantity Sold  Price
Name
brownie             17   2.25
cookie              40   1.25
cake                 1   9.50
cupcake             10   3.50

In [ ]:
# Find the shape of the dataframe
df.shape

(4, 2)

In [ ]:
# Find the shape of the series
sliced.shape

(4,)

In [ ]:
# Series have a .name attribute
sliced.name

'Price'

In [ ]:
# Elementwise calculations with Pandas
sales = df['Price'] * df['Quantity Sold']
sales

Name
brownie    38.25
cookie     50.00
cake        9.50
cupcake    35.00
dtype: float64

In [ ]:
# Check dataype of result
type(sales)

pandas.core.series.Series

In [ ]:
# saving sales as a new column
df['Sales'] = df['Price'] * df["Quantity Sold"]
df

         Price  Quantity Sold  Sales
Name
brownie   2.25             17  38.25
cookie    1.25             40  50.00
cake      9.50              1   9.50
cupcake   3.50             10  35.00

In [ ]:
# Get the sum of the Sales column
df['Sales'].sum()

132.75

In [ ]:
# Making a series from a dictionary
expenses = pd.Series({'brownie':0.25, 'cookie':0.5, 'cake':5, 'cupcake': 0.75},
                     name='Expenses')
expenses

brownie    0.25
cookie     0.50
cake       5.00
cupcake    0.75
Name: Expenses, dtype: float64

In [ ]:
# saving our combined data as df
df = pd.concat([df, expenses], axis=1)
df

         Price  Quantity Sold  Sales  Expenses
brownie   2.25             17  38.25      0.25
cookie    1.25             40  50.00      0.50
cake      9.50              1   9.50      5.00
cupcake   3.50             10  35.00      0.75

In [ ]:
# Calculate profit and define it as new column
df['Profit Per Item'] = df['Price'] - df['Expenses']
df

         Price  Quantity Sold  Sales  Expenses  Profit Per Item
brownie   2.25             17  38.25      0.25             2.00
cookie    1.25             40  50.00      0.50             0.75
cake      9.50              1   9.50      5.00             4.50
cupcake   3.50             10  35.00      0.75             2.75

In [ ]:
# Calculate the profit per type of baked good and define as a column
df["Profits"] = df['Profit Per Item'] * df['Quantity Sold']
df

         Price  Quantity Sold  Sales  Expenses  Profit Per Item  Profits
brownie   2.25             17  38.25      0.25             2.00     34.0
cookie    1.25             40  50.00      0.50             0.75     30.0
cake      9.50              1   9.50      5.00             4.50      4.5
cupcake   3.50             10  35.00      0.75             2.75     27.5

In [ ]:
# Find total profit
total_profit = df['Profits'].sum()
total_profit

96.0

In [ ]:
# What percentage of the goal has been reached?
total_profit/1000

0.096

In [ ]:
# import pandas
import pandas as pd
# save file path
fname = "/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/Our Bake Sale [Loading Data Vers] - Day 4 Sales.csv"

In [ ]:
# load in the data as a pandas dataframe
df = pd.read_csv(fname)

In [ ]:
# preview the first five rows
df.head()

,Item,Student,Packaging,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
0,brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,17,19,25,25
1,cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,40,32,38,38
2,cake,Martina,Boxed (Clear Plastic),9.50,5.00,1,2,0,0
3,cupcake,Joe,Boxed (Cardboard),3.50,0.75,10,14,12,12
4,fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,0,20,22,22

In [ ]:
# Preview the last 5 rows
df.tail()

,Item,Student,Packaging,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
7,scone,Jade,Individually Wrapped (Plastic),2.00,1.25,0,8,10,10
8,muffin,Anne,Individually Wrapped (Foil),1.50,0.75,0,3,4,4
9,rice krispies treats,Martina,Individually Wrapped (Plastic),1.25,0.25,0,0,10,30
10,apple pie,Sally,Box (Cardboard),10.00,4.00,0,0,2,3
11,key lime pie,Martina,Box (Cardboard),9.50,4.50,0,0,3,3

In [ ]:
# Obtain a summary table for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Item                   12 non-null     object
 1   Student                12 non-null     object
 2   Packaging              12 non-null     object
 3   Price                  12 non-null     float64
 4   Expense                12 non-null     float64
 5   Quantity Sold (Day 1)  12 non-null     int64
 6   Quantity Sold (Day 2)  12 non-null     int64
 7   Quantity Sold (Day 3)  12 non-null     int64
 8   Quantity Sold (Day 4)  12 non-null     int64
dtypes: float64(2), int64(4), object(3)
memory usage: 992.0+ bytes

In [ ]:
# Save the url surround by quotes
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQNX3oBeyee-rQEulninLyZoBUy3JVUy3wsGkPRl-G-mbjh5iItwBfezeGkDHnwtxnLneBX3Ylm1c64/pub?gid=860339357&single=true&output=csv"
# Read in data from url
df_url = pd.read_csv(url)
# Preview the first five rows
df_url.head()

,Item,Student,Packaging,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
0,brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,17,19,25,25
1,cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,40,32,38,38
2,cake,Martina,Boxed (Clear Plastic),9.50,5.00,1,2,0,0
3,cupcake,Joe,Boxed (Cardboard),3.50,0.75,10,14,12,12
4,fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,0,20,22,22

In [ ]:
# Preview the last 5 rows
df_url.tail()

,Item,Student,Packaging,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
7,scone,Jade,Individually Wrapped (Plastic),2.00,1.25,0,8,10,10
8,muffin,Anne,Individually Wrapped (Foil),1.50,0.75,0,3,4,4
9,rice krispies treats,Martina,Individually Wrapped (Plastic),1.25,0.25,0,0,10,30
10,apple pie,Sally,Box (Cardboard),10.00,4.00,0,0,2,3
11,key lime pie,Martina,Box (Cardboard),9.50,4.50,0,0,3,3

In [ ]:
# Inspect the .info()
df_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Item                   12 non-null     object
 1   Student                12 non-null     object
 2   Packaging              12 non-null     object
 3   Price                  12 non-null     float64
 4   Expense                12 non-null     float64
 5   Quantity Sold (Day 1)  12 non-null     int64
 6   Quantity Sold (Day 2)  12 non-null     int64
 7   Quantity Sold (Day 3)  12 non-null     int64
 8   Quantity Sold (Day 4)  12 non-null     int64
dtypes: float64(2), int64(4), object(3)
memory usage: 992.0+ bytes

In [ ]:
# Insert the new column
df.insert(5, 'Profit per Item', df['Price'] - df["Expense"]  )
# Verify the result

In [ ]:
df.head()

,Item,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
0,brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,2.00,17,19,25,25
1,cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,0.75,40,32,38,38
2,cake,Martina,Boxed (Clear Plastic),9.50,5.00,4.50,1,2,0,0
3,cupcake,Joe,Boxed (Cardboard),3.50,0.75,2.75,10,14,12,12
4,fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,2.00,0,20,22,22

In [ ]:
# Save file path to folder with new file name at the end
fname_out = "/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/bake-sale-data.csv"
df.to_csv(fname_out, index=False)

In [6]:
# This filepath will work if you saved your file in the recommend folder structure
import pandas as pd
fname = "/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/bake-sale-data.csv"
df = pd.read_csv(fname)
df.head()

,Item,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
0,brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,2.00,17,19,25,25
1,cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,0.75,40,32,38,38
2,cake,Martina,Boxed (Clear Plastic),9.50,5.00,4.50,1,2,0,0
3,cupcake,Joe,Boxed (Cardboard),3.50,0.75,2.75,10,14,12,12
4,fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,2.00,0,20,22,22

In [7]:
# Review: slicing 1 column
df["Item"]

0                  brownie
1                   cookie
2                     cake
3                  cupcake
4                    fudge
5             banana bread
6                    torte
7                    scone
8                   muffin
9     rice krispies treats
10               apple pie
11            key lime pie
Name: Item, dtype: object

In [9]:
# Review: slicing 1 column
df[["Item", "Student"]]

                    Item  Student
0                brownie     Hugo
1                 cookie    Sally
2                   cake  Martina
3                cupcake      Joe
4                  fudge     Hugo
5           banana bread     Mark
6                  torte     Jade
7                  scone     Jade
8                 muffin     Anne
9   rice krispies treats  Martina
10             apple pie    Sally
11          key lime pie  Martina

In [10]:
# Slice the row with cake at index 2
df.loc[2]

Item                                      cake
Student                                Martina
Packaging                Boxed (Clear Plastic)
Price                                      9.5
Expense                                    5.0
Profit per Item                            4.5
Quantity Sold (Day 1)                        1
Quantity Sold (Day 2)                        2
Quantity Sold (Day 3)                        0
Quantity Sold (Day 4)                        0
Name: 2, dtype: object

In [11]:
# Use double square brackets to ouput a dataframe
df.loc[[2]]

,Item,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
2,cake,Martina,Boxed (Clear Plastic),9.5,5.0,4.5,1,2,0,0

In [12]:
# Set the index
df = df.set_index("Item")
df.head()

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,2.00,17,19,25,25
cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,0.75,40,32,38,38
cake,Martina,Boxed (Clear Plastic),9.50,5.00,4.50,1,2,0,0
cupcake,Joe,Boxed (Cardboard),3.50,0.75,2.75,10,14,12,12
fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,2.00,0,20,22,22

In [13]:
# Slice out the row with cake as the index
df.loc[['cake']]

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
cake,Martina,Boxed (Clear Plastic),9.5,5.0,4.5,1,2,0,0

In [14]:
# Slice multiple rows using a list
df.loc[['cake','brownie']]

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
cake,Martina,Boxed (Clear Plastic),9.50,5.00,4.5,1,2,0,0
brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,2.0,17,19,25,25

In [15]:
# Slice the muffin row and Price column
df.loc["muffin",'Price']

1.5

In [16]:
# Slice Price and Student for muffin
df.loc["muffin", ["Price","Student"]]

Price       1.5
Student    Anne
Name: muffin, dtype: object

In [17]:
# Slice multiple rows and columns
df.loc[ ['muffin','scone','banana bread'], ['Price','Expense','Student']]

              Price  Expense Student
Item
muffin         1.50     0.75    Anne
scone          2.00     1.25    Jade
banana bread   2.75     0.50    Mark

In [18]:
# Save lists of rows
rows_to_slice =  ['muffin','scone','banana bread']
# Save list of columns
cols_to_slice =  ['Price','Expense','Student']
# Use variables of lists to slice
df.loc[rows_to_slice, cols_to_slice]

              Price  Expense Student
Item
muffin         1.50     0.75    Anne
scone          2.00     1.25    Jade
banana bread   2.75     0.50    Mark

In [20]:
# Selet all rows for the Price Column
df.loc[:, 'Price']

Item
brownie                  2.25
cookie                   1.25
cake                     9.50
cupcake                  3.50
fudge                    3.00
banana bread             2.75
torte                   10.50
scone                    2.00
muffin                   1.50
rice krispies treats     1.25
apple pie               10.00
key lime pie             9.50
Name: Price, dtype: float64

In [22]:
# Slice all rows for mulitple columns
df.loc[:, ["Price","Expense"]]

                      Price  Expense
Item
brownie                2.25     0.25
cookie                 1.25     0.50
cake                   9.50     5.00
cupcake                3.50     0.75
fudge                  3.00     1.00
banana bread           2.75     0.50
torte                 10.50     5.50
scone                  2.00     1.25
muffin                 1.50     0.75
rice krispies treats   1.25     0.25
apple pie             10.00     4.00
key lime pie           9.50     4.50

In [23]:
# Locate the Price of a torte and change the value
df.loc['torte',"Price"] = 11.5

In [24]:
# Inspect torte
df.loc['torte']

Student                                   Jade
Packaging                Boxed (Clear Plastic)
Price                                     11.5
Expense                                    5.5
Profit per Item                            5.0
Quantity Sold (Day 1)                        0
Quantity Sold (Day 2)                        5
Quantity Sold (Day 3)                        7
Quantity Sold (Day 4)                        7
Name: torte, dtype: object

In [25]:
# Check the price of apple pie
price = df.loc['apple pie','Price']
price

10.0

In [26]:
# is the price greater than 5?
price > 5

True

In [27]:
# Is the price greater than 5? (for all rows)
df['Price'] > 5

Item
brownie                 False
cookie                  False
cake                     True
cupcake                 False
fudge                   False
banana bread            False
torte                    True
scone                   False
muffin                  False
rice krispies treats    False
apple pie                True
key lime pie             True
Name: Price, dtype: bool

In [28]:
# Apply a boolean index to filter our data
df.loc[ df['Price'] > 5 ]

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
cake,Martina,Boxed (Clear Plastic),9.5,5.0,4.5,1,2,0,0
torte,Jade,Boxed (Clear Plastic),11.5,5.5,5.0,0,5,7,7
apple pie,Sally,Box (Cardboard),10.0,4.0,6.0,0,0,2,3
key lime pie,Martina,Box (Cardboard),9.5,4.5,5.0,0,0,3,3

In [30]:
# Save the boolean index as a separate variable
filter_price = df["Price"] > 5
filter_price

Item
brownie                 False
cookie                  False
cake                     True
cupcake                 False
fudge                   False
banana bread            False
torte                    True
scone                   False
muffin                  False
rice krispies treats    False
apple pie                True
key lime pie             True
Name: Price, dtype: bool

In [31]:
# Apply the filter to create a dataframe of selected values using square brackets
df_filtered = df[filter_price]
df_filtered

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
cake,Martina,Boxed (Clear Plastic),9.5,5.0,4.5,1,2,0,0
torte,Jade,Boxed (Clear Plastic),11.5,5.5,5.0,0,5,7,7
apple pie,Sally,Box (Cardboard),10.0,4.0,6.0,0,0,2,3
key lime pie,Martina,Box (Cardboard),9.5,4.5,5.0,0,0,3,3

In [32]:
# Get the sum of True values for the filter
filter_price.sum()

4

In [33]:
# Get the length of the filtered datarame
len(df_filtered)

4

In [45]:
# Attempt to locate a value not in an index
df["Student"] == "Sally"

Item
brownie                 False
cookie                   True
cake                    False
cupcake                 False
fudge                   False
banana bread            False
torte                   False
scone                   False
muffin                  False
rice krispies treats    False
apple pie                True
key lime pie            False
Name: Student, dtype: bool

In [50]:
# Create a filter for Packaging values that contain "individual"
filter_individual = df['Packaging'].str.contains('Individual')
filter_individual

Item
brownie                  True
cookie                   True
cake                    False
cupcake                 False
fudge                    True
banana bread             True
torte                   False
scone                    True
muffin                   True
rice krispies treats     True
apple pie               False
key lime pie            False
Name: Packaging, dtype: bool

In [51]:
# Apply the filter
df.loc[filter_individual]

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,2.00,17,19,25,25
cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,0.75,40,32,38,38
fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,2.00,0,20,22,22
banana bread,Mark,Individually Wrapped (Foil),2.75,0.50,2.25,0,10,13,13
scone,Jade,Individually Wrapped (Plastic),2.00,1.25,0.75,0,8,10,10
muffin,Anne,Individually Wrapped (Foil),1.50,0.75,0.75,0,3,4,4
rice krispies treats,Martina,Individually Wrapped (Plastic),1.25,0.25,1.00,0,0,10,30

In [52]:
df.loc[df["Student"].str.contains("Sally")]

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
cookie,Sally,Individually Wrapped (Plastic),1.25,0.5,0.75,40,32,38,38
apple pie,Sally,Box (Cardboard),10.00,4.0,6.00,0,0,2,3

In [53]:
# Use the inversion operator to get all values that do NOT meet the filter conditions
df[~filter_individual]

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
cake,Martina,Boxed (Clear Plastic),9.5,5.00,4.50,1,2,0,0
cupcake,Joe,Boxed (Cardboard),3.5,0.75,2.75,10,14,12,12
torte,Jade,Boxed (Clear Plastic),11.5,5.50,5.00,0,5,7,7
apple pie,Sally,Box (Cardboard),10.0,4.00,6.00,0,0,2,3
key lime pie,Martina,Box (Cardboard),9.5,4.50,5.00,0,0,3,3

In [54]:
# Create a filter for any index value that contains "pie"
filter_contains_pie = df.index.str.contains('pie')
# Apply the filter
df[filter_contains_pie]

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
rice krispies treats,Martina,Individually Wrapped (Plastic),1.25,0.25,1.0,0,0,10,30
apple pie,Sally,Box (Cardboard),10.00,4.00,6.0,0,0,2,3
key lime pie,Martina,Box (Cardboard),9.50,4.50,5.0,0,0,3,3

In [55]:
# Create a filter for any index value that contains "pie"
filter_contains_pie = df.index.str.contains(' pie')
# Apply the filter
df[filter_contains_pie]

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
apple pie,Sally,Box (Cardboard),10.0,4.0,6.0,0,0,2,3
key lime pie,Martina,Box (Cardboard),9.5,4.5,5.0,0,0,3,3

In [56]:
# Create a filter for Jade
filter_jade = df['Student']=='Jade'
filter_jade

Item
brownie                 False
cookie                  False
cake                    False
cupcake                 False
fudge                   False
banana bread            False
torte                    True
scone                    True
muffin                  False
rice krispies treats    False
apple pie               False
key lime pie            False
Name: Student, dtype: bool

In [57]:
# Create a filter for Price
filter_price = df['Price'] > 5
filter_price

Item
brownie                 False
cookie                  False
cake                     True
cupcake                 False
fudge                   False
banana bread            False
torte                    True
scone                   False
muffin                  False
rice krispies treats    False
apple pie                True
key lime pie             True
Name: Price, dtype: bool

In [63]:
# Combine the filters
filters_combined = filter_jade & filter_price
filters_combined2 = (df['Price'] > 5) &( df['Student'] == 'Jade')
filters_combined

Item
brownie                 False
cookie                  False
cake                    False
cupcake                 False
fudge                   False
banana bread            False
torte                    True
scone                   False
muffin                  False
rice krispies treats    False
apple pie               False
key lime pie            False
dtype: bool

In [65]:
# Apply the combined filter
df.loc[filters_combined]

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
torte,Jade,Boxed (Clear Plastic),11.5,5.5,5.0,0,5,7,7

In [66]:
# Create a new filter for less than 2
filter_price_less = df['Price'] < 2
# Combine the filters
df.loc[ filter_price_less & filter_jade]

Empty DataFrame
Columns: [Student, Packaging, Price, Expense, Profit per Item, Quantity Sold (Day 1), Quantity Sold (Day 2), Quantity Sold (Day 3), Quantity Sold (Day 4)]
Index: []

In [67]:
# List of students
students = ["Tom","Anne",'Martin', "Jose",'Sally']

In [68]:
# Creating a filter for any student in the list
df['Student'].isin(students)

Item
brownie                 False
cookie                   True
cake                    False
cupcake                 False
fudge                   False
banana bread            False
torte                   False
scone                   False
muffin                   True
rice krispies treats    False
apple pie                True
key lime pie            False
Name: Student, dtype: bool

In [69]:
# Apply the filter
df[df['Student'].isin(students)]

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,0.75,40,32,38,38
muffin,Anne,Individually Wrapped (Foil),1.50,0.75,0.75,0,3,4,4
apple pie,Sally,Box (Cardboard),10.00,4.00,6.00,0,0,2,3

In [2]:
# This filepath will work if you saved your file in the recommend folder structure
import pandas as pd

fname = "/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/Our Bake Sale [Loading Data Vers] - Day 4 Sales.csv"
df = pd.read_csv(fname)
df.head()

,Item,Student,Packaging,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
0,brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,17,19,25,25
1,cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,40,32,38,38
2,cake,Martina,Boxed (Clear Plastic),9.50,5.00,1,2,0,0
3,cupcake,Joe,Boxed (Cardboard),3.50,0.75,10,14,12,12
4,fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,0,20,22,22

In [3]:
# Get the unique values and their count for the Student column
df["Student"].value_counts()

Martina    3
Hugo       2
Sally      2
Jade       2
Joe        1
Mark       1
Anne       1
Name: Student, dtype: int64

In [4]:
# Use normalize = True to output a ratio
df["Student"].value_counts(normalize=True)

Martina    0.250000
Hugo       0.166667
Sally      0.166667
Jade       0.166667
Joe        0.083333
Mark       0.083333
Anne       0.083333
Name: Student, dtype: float64

In [5]:
# select quantity columns using .str.contains
columns = df.columns
filter_quantity_cols = columns[columns.str.contains('Quantity')]
filter_quantity_cols

Index(['Quantity Sold (Day 1)', 'Quantity Sold (Day 2)',
       'Quantity Sold (Day 3)', 'Quantity Sold (Day 4)'],
      dtype='object')

In [6]:
# Use the filter_quantity_cols index to limit the dataframe to Quantity columns
df[filter_quantity_cols]

,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
0,17,19,25,25
1,40,32,38,38
2,1,2,0,0
3,10,14,12,12
4,0,20,22,22
5,0,10,13,13
6,0,5,7,7
7,0,8,10,10
8,0,3,4,4
9,0,0,10,30
10,0,0,2,3
11,0,0,3,3

In [7]:
# Obtain the sum of the values in each column
df[filter_quantity_cols].sum()

Quantity Sold (Day 1)     68
Quantity Sold (Day 2)    113
Quantity Sold (Day 3)    146
Quantity Sold (Day 4)    167
dtype: int64

In [8]:
# Obtain the sum across rows
df[filter_quantity_cols].sum(axis=1)

0      86
1     148
2       3
3      48
4      64
5      36
6      19
7      28
8      11
9      40
10      5
11      6
dtype: int64

In [10]:
# Add a column to include the cumulative quantity
df['Cumulative Quantity (Day 4)'] = df[filter_quantity_cols].sum(axis=1)
df.head()

,Item,Student,Packaging,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4),Cumulative Quantity (Day 4)
0,brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,17,19,25,25,86
1,cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,40,32,38,38,148
2,cake,Martina,Boxed (Clear Plastic),9.50,5.00,1,2,0,0,3
3,cupcake,Joe,Boxed (Cardboard),3.50,0.75,10,14,12,12,48
4,fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,0,20,22,22,64

In [11]:
# Sort the cumulative values from high to low
df['Cumulative Quantity (Day 4)'].sort_values(ascending=False)

1     148
0      86
4      64
3      48
9      40
5      36
7      28
6      19
8      11
11      6
10      5
2       3
Name: Cumulative Quantity (Day 4), dtype: int64

In [17]:
# Multiply two cumulative quantity by profit per item to get cumulative profit
df['Profit per Item'] = df['Price'] - df['Expense']
# Multiply two cumulative quantity by profit per item to get cumulative profit
df['Cumulative Profit (Day 4)'] = df['Cumulative Quantity (Day 4)']  * df['Profit per Item']
df.head()

,Item,Student,Packaging,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4),Cumulative Quantity (Day 4),Profit per Item,Cumulative Profit (Day 4)
0,brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,17,19,25,25,86,2.00,172.0
1,cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,40,32,38,38,148,0.75,111.0
2,cake,Martina,Boxed (Clear Plastic),9.50,5.00,1,2,0,0,3,4.50,13.5
3,cupcake,Joe,Boxed (Cardboard),3.50,0.75,10,14,12,12,48,2.75,132.0
4,fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,0,20,22,22,64,2.00,128.0

In [18]:
# Sort to find the most profitable item
df['Cumulative Profit (Day 4)'].sort_values(ascending=False)

0     172.00
3     132.00
4     128.00
1     111.00
6      95.00
5      81.00
9      40.00
10     30.00
11     30.00
7      21.00
2      13.50
8       8.25
Name: Cumulative Profit (Day 4), dtype: float64

In [19]:
# groupby needs an aggregation functon
student_sums = df.groupby("Student").sum()
student_sums

<ipython-input-19-c8341bb54fb0>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  student_sums = df.groupby("Student").sum()

,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4),Cumulative Quantity (Day 4),Profit per Item,Cumulative Profit (Day 4)
Student,,,,,,,,,
Anne,1.50,0.75,0,3,4,4,11,0.75,8.25
Hugo,5.25,1.25,17,39,47,47,150,4.00,300.00
Jade,12.50,6.75,0,13,17,17,47,5.75,116.00
Joe,3.50,0.75,10,14,12,12,48,2.75,132.00
Mark,2.75,0.50,0,10,13,13,36,2.25,81.00
Martina,20.25,9.75,1,2,13,33,49,10.50,83.50
Sally,11.25,4.50,40,32,40,41,153,6.75,141.00

In [20]:
# Obtain the cumulative profit per student
quantity_by_student = df.groupby('Student')['Cumulative Quantity (Day 4)'].sum()
# Sort from highest to lowest profit
quantity_by_student.sort_values(ascending=False)

Student
Sally      153
Hugo       150
Martina     49
Joe         48
Jade        47
Mark        36
Anne        11
Name: Cumulative Quantity (Day 4), dtype: int64

In [21]:
# Obtain cumulative profit grouped by student
profit_by_student = df.groupby('Student')['Cumulative Profit (Day 4)'].sum()
# Sort from highest to lowest
profit_by_student.sort_values(ascending=False)

Student
Hugo       300.00
Sally      141.00
Joe        132.00
Jade       116.00
Martina     83.50
Mark        81.00
Anne         8.25
Name: Cumulative Profit (Day 4), dtype: float64

In [23]:
# Total Profit for the club
total_profit = df['Cumulative Profit (Day 4)'].sum()
total_profit

861.75

In [24]:
# How much more money do they need to earn?
1000-total_profit

138.25

In [25]:
# How many rows? 
len(df)

12